<nav class="navbar navbar-light bg-light border">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://cdn.pixabay.com/photo/2020/08/18/23/19/spheres-5499579_960_720.png" alt="" width="30" height="30">
    </a>
  </div>
  
    <ul class="nav justify-content-end ">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
</ul>
</nav>


<input type= "date">
<button type= "button" class ="btn btn-danger col-2 ">En proceso :(</button>
<button type= "button" class ="btn btn-success col-2 ">En proceso :(</button>
<button type= "button" class ="btn btn-info col-2 ">En proceso :(</button>
<button type= "button" class ="btn btn-warning col-2 ">En proceso :(</button>